[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
chemparse = "*"
pymatgen = "*"
numpy = "*"
openpyxl = "*"
sklearn = "*"
matplotlib = "*"
keras = "*"
tensorflow = "*"
scikit-optimize = "*"
shap = "*"
catboost = "*"
xgboost = "*"
pandas-profiling = "*"

[dev-packages]

[requires]
python_version = "3.10"
